.simuLine {
  fill: none;
  stroke: steelblue;
  clip-path: url(#clip);
}

.simuZoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.datesInput {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.2;
}

.datesInput button,
.datesInput span {
  display: inline-block;
  min-height: 60px;
}